html {
  font-size: 14px;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.618;
  color: color('gray', 'dark');
}

a {
  color: color('blue');
  text-decoration: none;

  &:hover {
    color: darken(color('blue'), 20);
  }
}