#batch-create {
  .errors {
    background-color: #eb5f6e;
    color: #ffffff;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 5px;

    ul {
      margin: 0;
      li {
        padding: 6px 0;
      }
    }
  }

  .left {
    flex: 1 1 auto;
  }

  .right {
    flex: 0 0 250px;
    display: none;
    //background-color: #eeeeee;
    border: 1px solid #eeeeee;
    border-radius: 4px;
  }
}