<div class="headings">
    <h2>Tapning</h2>
</div>

<form>
    <label>
        <span>Tapningsdato</span>
        <input type="date">
    </label>
    <label>
        <span>Flaskevolumen(cL)</span>
        <input type="number" step="0.01">
    </label>
    <label>
        <span>Antal flasker</span>
        <input type="number" step="0.01">
    </label>
    <div class="output">
        <span>Resterende volumen</span>
        <div>123123</div>
    </div>
    <label>
        <span>Kommentarer</span>
        <textarea rows="5"></textarea>
    </label>
    <button id="save-bottling">Gem tapning</button>
</form>
