<div class="headings">
    <h2>Dilution</h2>
</div>
<form>
    <label>
        <span>Fortyndingsdato</span>
        <input name="dilution_date" type="date">
    </label>
    <label>
        <span>Kommentarer</span>
        <textarea name="dilution_comment" rows="5"></textarea>
    </label>
    <h3>Inden fortynding</h3>
    <label>
        <span>Totalvægt(kg)</span>
        <input name="dilution_startweight" type="number" step="0.01">
    </label>
    <label>
        <span>Alkohol(%)</span>
        <input name="dilution_startabv" type="number" step="0.01">
    </label>
    <label>
        <span>Tabelværdi for alkohol</span>
        <input name="dilution_tableabv" type="number" step="0.01">
    </label>
    <label>
        <span>Ønsket alkohol(%)</span>
        <input name="dilution_desiredabv" type="number" step="0.01">
    </label>
    <label>
        <span>Tabelværdi for ønsket alkohol</span>
        <input name="dilution_tabledesabv" type="number" step="0.01">
    </label>
    <h3>Efter fortyndingen</h3>
    <div class="output">
        <span>100% ren alkohol(kg)</span>
        <div name="dilution_pureabv">12312321</div>
    </div>
    <div class="output">
        <span>Tilsætning af vand</span>
        <div name="dilution_afterweight">321321123</div>
    </div>
    <div class="output">
        <span>Tilsætning af vand(kg)</span>
        <div name="dilution_addwater">123123123321</div>
    </div>
    <button id="save-dilution">Gem fortynding</button>
</form>
