<div class="headings">
    <h2>Destillation</h2>
</div>

<form>
    <label>
        <span>Destillationsdato</span>
        <input name="distillation_date" type="date">
    </label>
    <label>
        <span>Vægt(kg)</span>
        <input name="distillation_weight" type="number" step="0.01">
    </label>
    <label>
        <span>Alkohol(%)</span>
        <input name="distillation_abv" type="number" step="0.01">
    </label>
    <label>
        <span>Kommentarer</span>
        <textarea name="distillation_comment" rows="5"></textarea>
    </label>
    <button id="save-distillation">Gem destillation</button>
</form>
