<div class="headings">
    <h2>Filtrering</h2>
</div>

<form>
    <label>
        <span>Filtreringsdato</span>
        <input type="date">
    </label>
    <label>
        <span>Vægt(kg)</span>
        <input name="filtration_afterweight" type="number" step="0.01">
    </label>
    <label>
        <span>Alkohol(%)</span>
        <input name="filtration_abv" type="number" step="0.01">
    </label>
    <label>
        <span>Densitet tabelværdi</span>
        <input name="filtration_tabledensity" type="number" step="0.01">
    </label>
    <label>
        <span>Volumen(L)</span>
        <input name="filtration_volume" type="number" step="0.01">
    </label>
    <label>
        <span>Kommentarer</span>
        <textarea name="filtration_comment" rows="5"></textarea>
    </label>
    <button id="save-filtration">Gem filtrering</button>
</form>

