<form>
    <label>
        <span>Kvalitet</span>
        <input name="quality" type="text">
    </label>

    <label>
        <span>Sukker (<sup>o</sup>Bx)</span>
        <input name="sugar" type="text">
    </label>

    <label>
        <span>Gær (g)</span>
        <input name="ferment" type="text">
    </label>

    <label>
        <span>Mængde (l)</span>
        <input name="amount" type="text">
    </label>

    <label>
        <span>Kommentarer</span>
        <textarea name="comment" rows="5"></textarea>
    </label>

    <button>Gem</button>
</form>
