<form>
    <label>
        <span>Kvalitet</span>
        <input name="mashing_quality" value="<% mashing %>" type="text">
    </label>

    <label>
        <span>Sukker (<sup>o</sup>Bx)</span>
        <input name="mashing_sugar" type="text">
    </label>

    <label>
        <span>Gær (g)</span>
        <input name="mashing_ferment" type="text">
    </label>

    <label>
        <span>Mængde (l)</span>
        <input name="mashing_amount" type="text">
    </label>

    <label>
        <span>Kommentarer</span>
        <textarea name="mashing_comment" rows="5"></textarea>
    </label>

    <button>Gem</button>
</form>
