<form>
    <div class="headings">
        <h2>Lagring</h2>
    </div>
    <label>Begyndelsesdato</label>
    <input type="date">
    <label>
        <span>Kommentarer</span>
        <textarea rows="5"></textarea>
    </label>
    <button id="begin-storage">Begynd lagring</button>
</form>
