#navigation {
  flex: 0 0 260px;
  padding: 16px;
  margin-right: 16px;

  h1 {
    font-weight: 300;
    font-size: 1.714rem;
    line-height: 1.714rem;
    margin: 16px 0;
  }

  ul {
    padding: 0;
    margin-left: -16px;

    li {
      display: block;
      margin-top: 2px;

      a {
        height: 36px;
        line-height: 36px;
        display: block;
        width: 100%;
        padding: 0 16px;
        border-radius: 4px;
        font-weight: 300;

        &:hover {
          background-color: color('blue', 'light');
          color: color('blue', 'dark')
        }
      }

      &.category {
        margin: 20px 0 5px;
        padding: 0 16px;
        font-size: .857rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: color('gray');
      }

      &.logoff {
        margin: 20px 0 0;
      }
    }
  }
}