#process {
  button {
    width: 100%;

    margin-bottom: 8px;
  }

  table tr td {
    padding: 0 8px;
    border: none;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }

  select {
    margin-bottom: 8px;
  }
}