<td class="span">
    <select name="process[]">
        <% states.forEach(function(state, index) { %>
        <option value="<%= index %>"><%= state.get('name') %></option>
        <% }); %>
    </select>
</td>

<td class="shrink">
    <button type="button">Fjern</button>
</td>