button, [role=button] {
  padding: 6px 12px;
  display: inline-block;
  vertical-align: bottom;
  background-color: transparent;
  outline: none;
  border: 1px solid color('blue');
  border-radius: 4px;
  text-align: center;
  color: color('blue');

  &:hover {
    background-color: color('blue');
    color: color('white');
  }
}

.button-group {
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;

  button, [role=button] {
    float: left;
    display: block;
    border-radius: 0;
    margin-left: -1px;

    &:first-child {
      border-radius: 4px 0 0 4px;
      margin-left: 0;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}
