table {
  width: 100%;
  tr {
    th, td {
      &.span {
        width: 99%;
      }
      &.shrink {
        width: 1%;
      }
    }
    th {
      padding: 0 25px 8px 25px;
      text-align: left;
      font-weight: 500;

      &:first-of-type {
        padding-left: 0;
      }
      &:last-of-type {
        padding-right: 0;
      }
    }
    td {
      padding: 8px 25px;
      border-top: 1px solid #eeeeee;
      white-space: nowrap;
      font-weight: 300;

      &:first-of-type {
        padding-left: 0;
      }
      &:last-of-type {
        padding-right: 0;
      }
    }
    &:last-of-type td {
      padding-bottom: 0;
    }
  }
}