button {
  color: #1997c6;
  border: 2px solid #1997c6;
  border-radius: 4px;
  font-weight: 500;
  padding: 6px 12px;
  outline: 0;
  background-color: transparent;
  transition: background-color 100ms;

  &:hover {
    color: #ffffff;
    background-color: #1997c6;
  }
}