html {
  font-size: 14px;
}

body {
  font: 1rem/1.618 "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555555;
}

a {
  color: #1ca8dd;
  text-decoration: none;

  &:hover {
    color: #137499;
  }
}