<form action="">
    <label>
        <span>Brugernavn</span>
        <input name="name" type="text">
    </label>

    <label>
        <span>Adgangskode</span>
        <input name="password" step="0.01">
    </label>

    <label>
        <span>Bekræft adgangskode</span>
        <input name="confirm-password">
    </label>

    <button type="submit">Opret</button>
</form>