<div id="content-header">
    <div class="headings">
        <h2>Bruger</h2>
        <h1><%= name %></h1>
    </div>
</div>

<form>
    <label>
        <span>Brugernavn</span>
        <input name="name" value="<%= name %>" type="text">
    </label>

    <label>
        <span>Adgangskode</span>
        <input name="password" type="password">
    </label>

    <label>
        <span>Bekræft adgangskode</span>
        <input name="confirm-password" type="password">
    </label>

    <button class="button-final" type="submit">Gem</button>
</form>
