<form action="">
    <label>
        <span>Brugernavn</span>
        <input name="name" value="<%= name %>" type="text">
    </label>

    <label>
        <span>Adgangskode</span>
        <input name="password" type="password">
    </label>

    <label>
        <span>Bekræft adgangskode</span>
        <input name="confirm-password" type="password">
    </label>

    <button type="submit">Gem</button>
</form>
