<div id="content-header">
    <div class="headings">
        <h2>Spiritus</h2>
        <h1>Opret spiritus</h1>
    </div>
</div>

<form>
    <label>
        <span>Spiritusnavn</span>
        <input name="name" type="text">
    </label>

    <label>
        <span>Alkoholprocent</span>
        <input name="abv" step="0.01">
    </label>

    <label>
        <span>Opskrift</span>
        <textarea name="recipe"></textarea>
    </label>

    <div>
        Produktionsprocess
        <table>
            <tr>
                <td>
                    <select name="" id="">
                        <option value="">Mæskning</option>
                        <option value="">Destillering</option>
                    </select>

                    <button>Tilføj</button>
                </td>
            </tr>
        </table>
    </div>

    <button class="button-final" type="submit">Opret</button>
</form>
