<div id="content-header">
    <div class="headings">
        <h2>Spiritus</h2>
        <h1>Opret spiritus</h1>
    </div>
</div>

<form>
    <label>
        <span>Spiritusnavn</span>
        <input name="name" type="text">
    </label>

    <label>
        <span>Alkoholprocent</span>
        <input name="abv" step="0.01">
    </label>

    <label>
        <span>Opskrift</span>
        <textarea name="recipe"></textarea>
    </label>

    <button type="submit">Opret</button>
</form>
