<form action="">
    <label>
        <span>Spiritusnavn</span>
        <input name="name" type="text">
    </label>

    <label>
        <span>Alkoholprocent</span>
        <input name="abv" step="0.01">
    </label>

    <label>
        <span>Opskrift</span>
        <textarea name="recipe"></textarea>
    </label>

    <button type="submit">Opret</button>
</form>
