<div id="content-header">
    <div class="headings">
        <h2>Spiritus</h2>
        <h1><%= name %></h1>
    </div>
</div>

<form>
    <label>
        <span>Spiritusnavn</span>
        <input name="name" value="<%= name %>" type="text">
    </label>

    <label>
        <span>Alkoholprocent</span>
        <input name="abv" value="<%= abv %>" type="number" step="0.01">
    </label>

    <label>
        <span>Opskrift</span>
        <textarea name="recipe" rows="5"><%= recipe %></textarea>
    </label>

    <button class="button-final" type="submit">Gem</button>
</form>
