<div id="content-header">
    <div class="headings">
        <h2>Batch</h2>
        <h1>Opret batch</h1>
    </div>
</div>

<form>
    <label>
        <span>Batchnavn</span>
        <input name="name" type="text">
    </label>

    <div>
        Spiritustype
        <select name="" id="">
            <option value="">Test1</option>
            <option value="">Test2</option>
        </select>
    </div>

    <button class="button-final" type="submit">Opret</button>
</form>
