<div id="content-header">
    <div class="headings">
        <h2>Batch</h2>
        <h1>Opret batch</h1>
    </div>
</div>

<form>
    <label>
        <span>Spiritustype</span>
        <select name="spirit_id">
            <% spirits.forEach((spirit) => { %>
            <option value="<%= spirit.id %>"><%= spirit.name %></option>
            <% }) %>
        </select>
    </label>

    <label>
        <span>Oprettelsesdato</span>
        <input name="created_at" value="<%= moment().format('YYYY-MM-DD') %>" type="text">
    </label>

    <label>
        <span>Batchnavn</span>
        <input name="name" type="text">
    </label>

    <button class="button-final" type="submit">Opret</button>
</form>
