<div id="content-header">
    <div class="headings">
        <h2>Produktion</h2>
        <h1>Batches</h1>
    </div>
    <div class="buttons">
        <a href="/batch/create" role="button">Opret</a>
    </div>
</div>

<div id="content-body">
    <table>
        <tr>
            <th>Navn</th>
        </tr>
        <% items.forEach((item) => { %>
        <tr>
            <td>
                <a href="/batch/<%= item.id %>"><%= item.name %></a>
            </td>
            <td class="output">
                <%= item.spirit_id %>
            </td>
            <td>
                <%= item.created_at %>
            </td>
        </tr>
        <% }) %>
    </table>
</div>