<div id="content-header">
    <div class="headings">
        <h2>Batch: <%= state.current.name %></h2>
        <h1><%= name %></h1>
    </div>

    <div class="buttons button-group">
        <a href="/batch/<%= id %>/edit" role="button">Redigér</a>
        <button id="delete">Fjern</button>
    </div>
</div>

<div id="step"></div>