<div id="navigation">
    <h1>Nordisk Brænderi</h1>
    <ul>
        <li class="category">Produktion</li>
        <li><a href="/batch">Oversigt</a></li>
        <li><a href="/batch/create">Opret</a></li>

        <li class="category">Opgørelser</li>
        <li><a href="#">Årsopgørelse</a></li>
        <li><a href="#">Kvartalsopgørelse</a></li>
        <li><a href="#">Månedsopgørelse</a></li>

        <li class="category">Administration</li>
        <li><a href="/user">Brugere</a></li>
        <li><a href="/spirit">Spiritus</a></li>

        <li class="logoff"><a href="#">Log af</a></li>
    </ul>
</div>
<div id="content"></div>