form {
  display: flex;
  flex-flow: column nowrap;
}

label {
  margin-bottom: 30px;
  font-weight: 500;

  span {
    display: block;
    padding-bottom: 5px;
  }
}

input, select, textarea {
  display: block;
  width: 100%;
  padding: 0 12px;
  border: 1px solid color('gray', 'light');
  background-color: color('white');
  border-radius: 4px;
  outline: none;
  font-weight: 300;
  transition: border-color 100ms;
}

input, select {
  height: 36px;
  line-height: 36px;

  &:focus {
    border-color: color('blue');
  }
}

textarea {
  padding: 6px 12px;
}